pip
numpy
pandas
matplotlib
seaborn
streamlit
plotly
sweetviz
streamlit
pandas-profiling
streamlit-pandas-profiling
scikit-learn
statsmodels
xgboost
pygwalker
pymssql
sqlalchemy
awswrangler
streamlit
pmdarima
boto
optuna
shap
holidays
langchain
scipy
tqdm
streamlit-aggrid
boto3
langchain-experimental
langchain-community
streamlit-extras
ydata-profiling
numexpr
dabl
sktime
pycaret



